<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arch" version="2.1.0" manuallyInstalled="true" />
  <package id="Arch.LowLevel" version="1.1.5" />
  <package id="Arch.System" version="1.1.0" manuallyInstalled="true" />
  <package id="Collections.Pooled" version="2.0.0-preview.27" />
  <package id="CommunityToolkit.HighPerformance" version="8.2.2" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.0" />
  <package id="ZeroAllocJobScheduler" version="1.1.2" />
</packages>